{% extends "analytics/admin/base.html" %}
{% load i18n %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; {{ title }}
    </div>
{% endblock %}

{% block content %}
    <style>
    #content-main .module table {
        width: 100%;
        max-width: 500px;
    }
    #content-main .module table tr td:last-child {
        text-align: right;
    }
    </style>
    <div id="content-main">

        {% include 'admin/analytics_app_links.html' %}
    </div>
{% endblock %}
