{% extends "base_bs4.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block extra_head %}
    <style>
        #page {
            background: linear-gradient(199.21deg, #010A60 11.11%, #01073E 91.84%);
            width: 100%;
            min-height: 100vh;
            color: #fff;
        }

        #page .card {
            background: linear-gradient(199.21deg, #050f6e 11.11%, #020a3c 91.84%);
            box-shadow: 0 0 12px -6px #fff;
            border-radius: 15px;
            border: none !important;
        }

        #page .card .card-body {
            border: 0;
            border-radius: 0;
            box-shadow: none;
        }
        #page form .form-control:focus {
            box-shadow: none;
        }
        #page form .form-control {
            background: transparent;
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            padding: 22px 8px !important;
            letter-spacing: 1px;
            border-width: 0 0 1px 0;
            border-color: #b2b2b2;
        }

        #page form .form-control::-ms-reveal {
            filter: invert(100%);

        }

        #page form .form-control::placeholder,
        #page form .form-control:-ms-input-placeholder,
        #page form .form-control::-webkit-input-placeholder, #page form .form-control::-moz-placeholder,
        #page form .form-control:-moz-placeholder {
            font-size: 14px !important;

        }

        #page form label {
            font-weight: 600;
            font-size: 14px;
            margin-bottom: 15px;
            letter-spacing: 1px;
        }

        #page form .btn-submit {
            background-color: #1038EB;
            color: #fff;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="page" class="position-fixed d-flex flex-column align-items-center justify-content-center">
        <div class="card" style="min-width: 320px; width: 95%; max-width: 400px;">
            <div class="card-body py-5 d-flex flex-column align-items-center">
                <h4 class="mb-4">
                    {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
                </h4>

                {% if token_fail %}
                    {#                    {% url 'account_reset_password' as passwd_reset_url %}#}
                    <div class="alert alert-danger mb-3">
                        {% blocktrans %}
                            The password reset link was invalid, possibly because it has already been used.
                            Please request a <a class="font-weight-bold" href="{{ passwd_reset_url }}">new password
                            reset</a>.
                        {% endblocktrans %}
                    </div>
                {% else %}
                    <form method="POST" action="{{ action_url }}" class="w-100" style="max-width: 320px">
                        {% csrf_token %}
                        {% bootstrap_field form.password1 form_group_class='form-group text-center mb-4' %}
                        {% bootstrap_field form.password2 form_group_class='form-group text-center mb-4' %}
                        {#                        {% bootstrap_field form.password2 %}#}
                        <div class="form-group text-center">
                            {% buttons %}
                                <button type="submit" class="btn btn-submit btn-block">
                                    {% trans 'Change' %}
                                </button>
                            {% endbuttons %}
                        </div>

                        {#                        <input type="submit" name="action" value="{% trans 'change password' %}"/>#}
                    </form>
                {% endif %}
            </div>


        </div>
    </div>

{% endblock %}
