{% extends "analytics/admin/base.html" %}
{% load i18n %}
{% load read_time_seconds %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin_analytics:analytics_index' %}">{% trans 'Analytics' %}</a> &rsaquo; {{ title }}
    </div>
{% endblock %}
{% block content %}
    <style>
        .btn-export {
            padding: 8px 20px;
            border-radius: 20px;
            min-width: 150px !important;
            background-color: #000;
            color: #fff !important;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 1px;
            text-decoration: none !important;
            display: inline-block;
            text-align: center;
        }
    </style>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-12">
                <table>
                    <tbody>
                    <tr>
                        <td>Users</td>
                        <td>{{ total_users }}</td>
                    </tr>
                    <tr>
                        <td>Total User Feedbacks</td>
                        <td>{{ total_users_review }}</td>
                    </tr>
                    <tr>
                        <td>Rating AVG</td>
                        <td>{{ avg_rating }}</td>
                    </tr>
                    <tr>
                        <td>Rating 1</td>
                        <td>{{ rating_1 }}</td>
                    </tr>
                    <tr>
                        <td>Rating 2</td>
                        <td>{{ rating_2 }}</td>
                    </tr>
                    <tr>
                        <td>Rating 3</td>
                        <td>{{ rating_3 }}</td>
                    </tr>
                    <tr>
                        <td>Rating 4</td>
                        <td>{{ rating_4 }}</td>
                    </tr>
                    <tr>
                        <td>Rating 5</td>
                        <td>{{ rating_5 }}</td>
                    </tr>

                    </tbody>
                </table>
                <div style="margin-top: 10px">
                    <a class="btn-export"
                       href="{% url 'admin_analytics:admin_graph_app_feedback' %}?export=1">Export</a>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-12">
                <div id="piechart" style="max-width: 400px; height: 400px; width: 100%;"></div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Rating', 'Total'],
                ['Rating 1', {{ rating_1 }}],
                ['Rating 2', {{ rating_2 }}],
                ['Rating 3', {{ rating_3 }}],
                ['Rating 4', {{ rating_4 }}],
                ['Rating 4', {{ rating_5 }}],
            ]);

            var options = {
                title: '{{title}}'
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
    </script>
    <script>
        function exportGraphData() {
            let url = ``

        }
    </script>

{% endblock %}
