{% extends "analytics/admin/base.html" %}
{% load i18n %}
{% load read_time_seconds %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin_analytics:analytics_index' %}">{% trans 'Analytics' %}</a> &rsaquo; {{ title }}
    </div>
{% endblock %}
{% block content %}
    <div id="content-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-5 col-12">
                    <table>
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Installations</th>
                            <th>Total kw Installations</th>
                            <th>Total Number of Arrays</th>
                            <th>Avg Duration (in Mins)</th>
                            <th>Avg hr/kW</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for roof in roof_types %}
                            <tr>
                                <td>{{ roof.name }}</td>
                                <td>{{ roof.total_customer_trackers_closed }}</td>
                                <td>{{ roof.total_system_size }}</td>
                                <td>{{ roof.total_number_of_arrays }}</td>
                                <td>
                                    {% widthratio roof.total_seconds_per_job|seconds_to_minutes roof.total_customer_trackers_closed 1 %}
                                </td>
                                <td>
                                    {{ roof.avg_seconds_per_kw|seconds_to_hours }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-8 col-sm-7 col-12">
                    <div id="chart_div" style="height: 400px; width: 100%; max-width: 800px"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js">
    </script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});

        const chart_data = []
        const total_roof_types = parseInt({{ roof_types.count }})

        function drawRoofTypePerformance() {
            let data = google.visualization.arrayToDataTable([
                ['Name', 'Avg Durations (in Mins)', {role: 'style'}, 'Avg hr/kW'],
                {% for item in chart_data %}
                    ['{{ item.name }}', parseInt({{ item.avg_duration_in_mins }}), 'color: #1038EB', parseInt({{ item.avg_hours }}),],
                {% endfor %}

            ]);

            let options = {
                title: 'Roof Type Performance',
                vAxis: {title: 'AVG Mins'},
                hAxis: {title: 'Roof Types'},
                seriesType: 'bars',
                series: {
                    1: {
                        type: 'line',
                        color: '#f26900',
                        pointSize: 10
                    }
                },
            };


            let chart = new google.visualization.ComboChart(
                document.getElementById('chart_div'));

            chart.draw(data, options);
        }

        google.charts.setOnLoadCallback(drawRoofTypePerformance);

    </script>

{% endblock %}
